<%= javascript_pack_tag 'avalon-player-pack' %>
<%= stylesheet_pack_tag 'avalon-player-pack' %>

<div class="viewer-wrapper">
  <video id="mejs" class="avalon-bundle-player" controls src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"></video>
</div>
